<mat-card>
  <mat-card-header class="mat-subtitle-1"> Directive </mat-card-header>

  <mat-card-content class="mx-8">
    <p>Using the 'ngxLocalStorage' directive you can bind template controls to localstorage values.</p>

    <mat-divider class="!my-4"></mat-divider>

    <div markdown src="./assets/markdown/DIRECTIVE.md"></div>

    <p class="mat-body-2">Result</p>

    <input
      type="checkbox"
      id="cbox1"
      ngxLocalStorage
      initFromStorage
      forEvent="change"
      [valuePath]="['checked']"
      [falsyTransformer]="defaultFalsyTransformer"
    />
    <label for="cbox1">Checkbox</label>

    <br />
    <br />

    <label for="txt1">Text</label>
    <input type="text" id="txt1" ngxLocalStorage prefix="demo" initFromStorage forEvent="input" [valuePath]="['value']" />

    <br />
    <br />

    <label for="txt2">formControl</label>
    <input type="text" id="txt2" ngxLocalStorage prefix="demo" initFromStorage [formControl]="control" />
  </mat-card-content>
</mat-card>
