<mat-card class="demo-card">
  <mat-card-header class="mat-title">
    LocalStorageService
  </mat-card-header>
  <mat-card-content class="demo-card__content">
    <p class="mat-body-2">Code inside component:</p>
    <code>
      entryCount: number = 0;<br><br>
      constructor(private lss: LocalStorageService) &#123; &#125;<br><br>
      ngOnInit() &#123;<br>
      this.entryCount = this.lss.count()<br>
      &#125;
    </code>
    <p class="mat-body-2">Result:</p>
    <code>
      entryCount: {{entryCount}}
    </code>
    <p class="mat-body-2">Store values using the service:</p>
    <code>
      constructor(private lss: LocalStorageService) &#123;<br>
        this.lss.set('demo-key', &#123;
          id: 1,
          name: 'John Doe'
        })<br>
      &#125;
    </code>
    <p class="mat-body-2">Read values using the service:</p>
    <code>
      this.lss.get('demo-key') as &#123; id: number; name: string; &#125;;
    </code>
    <pre>
      {{storedObject | json}}
    </pre>
    <p class="mat-body-2">Result:</p>
  </mat-card-content>
</mat-card>