<mat-card>
  <mat-card-header class="mat-subtitle-1"> EventServiceComponent </mat-card-header>

  <mat-card-content class="mx-8">
    <p>Subscribe to the `LocalStorageService` to receive storage updates.</p>

    <mat-divider class="!my-4"></mat-divider>

    <div markdown src="./assets/markdown/EVENT_STREAM.md"></div>

    <p class="mat-body-2">Result (modify text or checkbox in another tab or in Chrome DevTools)</p>

    <p *ngFor="let e of $events">&#123; "key": "{{ e.key }}"; "oldValue": "{{ e.oldValue }}"; "newValue": "{{ e.newValue }}" &#125;</p>
  </mat-card-content>
</mat-card>
