<mat-card class="demo-card">
  <mat-card-header class="mat-title">
    Directive
  </mat-card-header>
  <mat-card-content class="demo-card__content">

    <div markdown src="./assets/markdown/DIRECTIVE.md"></div>

    <p class="mat-body-2">Result:</p>
    <input type="checkbox" id="cbox1" ngxLocalStorage initFromStorage forEvent="change" [valuePath]="['checked']"
      [falsyTransformer]="defaultFalsyTransformer">
    <label for="cbox1">Checkbox</label><br>
    <label for="txt1">Text</label>
    <input type="text" id="txt1" ngxLocalStorage prefix="demo" initFromStorage forEvent="input"
      [valuePath]="['value']" />

    <p class="demo-card__content__description mat-subheading-2">
      Using the 'ngxLocalStorage' directive you can bind template controls to localstorage values.
    </p>
  </mat-card-content>
</mat-card>
