<ng-doc-root [footerContent]="footerContent">
  <ng-doc-navbar [leftContent]="navLeftContent" [rightContent]="navRightContent" [glassEffect]="true" [search]="true" />
  <ng-doc-sidebar />
  <router-outlet></router-outlet>
</ng-doc-root>

<ng-template #navLeftContent>
  <div class="doc-navbar-left">
    <a routerLink="/">
      <h3>
        <img src="https://raw.githubusercontent.com/bohoffi/ngx-localstorage/develop/assets/logo.svg" />
        <span> ng-localstorage </span>
      </h3>
    </a>
  </div>
</ng-template>

<ng-template #navRightContent>
  <div class="doc-navbar-right">
    <a href="https://github.com/bohoffi/ngx-localstorage" title="ngx-localstorage on Github" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</ng-template>

<ng-template #footerContent>
  <div class="doc-footer">Library version: {{ libVersion.fullVersion }}</div>
</ng-template>
