<div class="p-8 rounded-lg border-solid border-2 border-blue-800">

  <mat-card>

    <mat-card-header class="mat-title">

      <span class="flex-grow">
        Lazy (feature) module
      </span>

      <button mat-icon-button (click)="close()">
        <mat-icon>
          close
        </mat-icon>
      </button>

    </mat-card-header>

    <mat-card-content class="mx-8">

      <p>
        The library is fully lazy-/feature-module capable.
      </p>

      <mat-divider class="!my-4"></mat-divider>

      <div markdown src="./assets/markdown/LAZY.md"></div>

      <p class="mat-body-2">
        Result
      </p>

      <input type="text" id="txt1" ngxLocalStorage prefix="demo" initFromStorage="true" forEvent="input"
        [valuePath]="['value']" />

    </mat-card-content>
  </mat-card>

</div>
